<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<div class="center hero-unit">
	<h1>Please note</h1>
	This app has a unfortunate dependencie on <%= link_to("ImageMagick", "http://www.imagemagick.org/script/index.php") %>
	And most probably will not run without it.
	
	<h2>ToDo list</h2>
	<ul>
		<li>Add file verification (on the signup form) </li>
		<li>Everything else, but first, a bit more functionality for the user</li>
	</ul>
</div>




<p>
	This web app is beeing build as a project for <a href="http://www.ius.edu.ba/Default.aspx?PageContentID=1766&tabid=1292">Special Topics in Computer Science</a>
	Work is in progres</p>
	So far done:
	
  <ul>
		<li>A few static pages, including the one you are visiting right now</li>
		<li>A whole lot of creation and deletion, the database migrations are a real mess</li>
		<li>User sign in/ sign out</li>
		<li>Cookies are enabled, permanent user sign in is achieved this way</li>
		<li>Implemented the ability for users to upload profile pictures</li>
		<li>Heavy usage of bootstrap to make it remotley attractive</li>
		<li>A bunch of small stuff, like the mail_to link in the footer</li>
		<li>Added a bunch of tests including factorygirls tests. Most of them are copied from the internet *blush*</li>
		<li>Added a first aid favicon, just for the fun of it</li>
	</ul>

